

/billing/.idea
/billing/db.sqlite3
/billing/.coverage
/billing/debug.log
/billing/cover
/billing/billing/__pycache__
/billing/servise/__pycache__
/billing/servise/migrations/__pycache__


/gateway/.idea
/gateway/db.sqlite3
/gateway/.coverage
/gateway/debug.log
/gateway/cover
/gateway/gateway/__pycache__
/gateway/servise/__pycache__
/gateway/servise/migrations/__pycache__

/order/.idea
/order/db.sqlite3
/order/.coverage
/order/debug.log
/order/cover
/order/order/__pycache__
/order/servise/__pycache__
/order/servise/migrations/__pycache__

/train/.idea
/train/db.sqlite3
/train/.coverage
/train/debug.log
/train/cover
/train/train/__pycache__
/train/servise/__pycache__
/train/servise/migrations/__pycache__
/train/__pycache__